body{
   background-color: #073b4c;
}

.box{
   height: 100px;
   width: 100px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 30px;
   border: 1px solid;
   text-align: center;
   line-height: 90px;
   font-weight: 600;
   font-size: 20px;
}

.cyan{
   background-color: #1389b2;
}

.red{
   background-color: #f0466f;
}

.green{
   background-color: #0cd6a1;
}

.yellow{
   background-color: #ffd166;
}